<footer>
<div class="logo_footer">

{{#partenaires}}
<a class="logo_footer" href="{{id}}_logo.{{logo_extension}}">
  <figure>
    <img src="{{id}}_logo.{{logo_extension}}" alt="{{logo_alt}}">
    <figcaption> {{nom}} </figcaption>
  </figure>
</a>
{{/partenaires}}

</div>
</footer>
